{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    SignUp
                </div>

            <div class="line"></div>
                <div class="field">
                    <b>Username</b>
                    <input type="text" required name="fnm" placeholder="Enter your username" class="inp">
                </div>
                <div class="field">
                    <b>Email</b>
                    <input type="email" required name="email" class="inp" placeholder="Enter your Email">
                </div>
                <div class="field">
                    <b>Password</b>
                    <input type="password" required name="pwd" class="inp" placeholder=" Password">
                </div>
                <div class="field">
                    <input type="submit" required class="submit-button" value="Signup">
                </div>
                <div class="inline-field">
                    <p class="already">Already have an account?</p>
                    <a href="/login" class="anc">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>